// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";

$gray-darker:           #33373a;
$gray:                  #3D4245;
$gray-light:            #99a0a2;   

$brand-primary:         $gray;
$btn-primary-color:     #ccc;

$body-bg:               $gray-darker;
$text-color:            $gray-light;

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base:          16px;

$input-bg:              $gray;
$input-color:           $gray-light;
$input-border:          $gray;

$table-border-color:    $gray;

$navbar-height:                            60px;
$navbar-inverse-color:                     #c2c6c9;
$navbar-inverse-bg:                        $brand-primary;

$navbar-inverse-link-active-color:         #ccc;
$navbar-inverse-link-active-bg:            $body-bg;

@import "bootstrap-custom";
@import "expenses";

.navbar-inverse { border: 0; }